# Folders
.devcontainer
.coverage
.gcovr
.vscode
CMake*
bin
build
lib
install
__pycache__
results

# File types
*.o
*.so*
*.png
*.jpg
*.zip
*.pyc

# Specific files
build.txt
package.json
get-pip.py
pyastro/astro.py
.coverage.info
snapshot.db
snapshot.db-journal
spacetrack.query-history.json

# Must include
!CMakeLists.txt