# Folders
.vscode
CMake*
**/bin/*
**/build/*
lib/*
**__pycache__/

# File types
*.o
*.so*
*.png
*.jpg
*.zip
*.pyc

# Specific files
package.json
get-pip.py
pyastro/astro.py

# Must include
!CMakeLists.txt