# Template C++ Application

# This template allows you to validate your C++ application.
# The workflow allows running tests and code linting on the default branch.

image: jayiuliano/astrea:latest

pipelines:
  default:
    - parallel:
        - step:
            name: Test
            script:
              - make run_tests
