
pipelines:
  default:
    - step:
        name: Build Docker Image
        script:
          - docker build -t jayiuliano/astrea:$BITBUCKET_COMMIT -f ./docker/Dockerfile ~ 
          - docker image push jayiuliano/astrea:$BITBUCKET_COMMIT
        services:
          - docker
        
    - step:
        name: Run Tests
        image: jayiuliano/astrea:$BITBUCKET_COMMIT
        script:
          - make run_tests