options:

pipelines:
  default:
    - step:
        name: Build Docker Image
        size: 2x
        script:
          - docker build -t jayiuliano/astrea:latest -f ./docker/Dockerfile .
          - docker image push jayiuliano/astrea:latest
        services:
          - docker
        
    - step:
        name: Run Tests
        image: jayiuliano/astrea:latest
        script:
          - make run_tests