numpy>=1.21.0
pandas>=1.3.0
matplotlib>=3.5.0
gcovr>=5.0
gprof2dot>=2021.2.0
graphviz>=0.20.1
scipy>=1.7.0
basemap>=1.3.0
basemap-data-hires>=1.3.0
mkdocs>=1.4.0
mkdocs-material>=9.0.0
mkdocs-rss-plugin>=0.1.0
mkdocs-material[imaging]>=9.0.0
mkdocs-exclude>=1.2.0
mkdoxy
tabulate