name: C/C++ CI

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: ghcr.io/iulianojay/astrea:sha256-a74475e1e6f0523bf87e35c52a9fac2de580ec922a6d2e746089eb88d196dc07.sig
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}

    steps:
    - uses: actions/checkout@v4
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make run_tests
      run: make run_tests
